/**************
 * NAVIGATION *
 **************/

 /*
  * Most of this code was borrowed from Lisa Catalano's 'Simple Horizontal Navigation'
  * article at http://css-snippets.com/simple-horizontal-navigation/
  */
div.nav {
  vertical-align: bottom;
  height: 150px;
  width: 1200px;
  display: block;
  margin: auto;
}

div#cities-container div.nav {
  width: 400px;
  height: 50px;
}

div.nav h1 {
  line-height: 50px;
  margin: 0px;
  height: 50px;
  text-align: center;
  color: #347C7C;
  font-family: 'Oswald', sans-serif;
}

.nav ul {
  list-style: none;
  background-color: #347C7C;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #BCD9D9;
  color: #347C7C;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }


/********
 * DATA *
 ********/

div.container {
  display: inline-block;
  margin: auto;
}

div#data {
  width: 1200px;
  display: block;
}

#map-container {
  width: 800px;
  height: 700px;
  padding: 0;
  margin: 0;
  float: left;
}

#cities-container {
  width: 400px;
  height: 700px;
  background-color: #347C7C;
}

#cities-list {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 20pt;
  color: white;
  text-align: center;
}

#cities-list li {
  font-size: 16pt;
  margin-left: 10px;
  padding: 5px 0px 5px 5px;
  text-align: left;
}

#cities-list li.active {
  background-color: #005f5f;
}

svg.map {
  display: block;
  margin: auto;
  fill: purple;
  stroke: black;
  background-color: #BCD9D9;
}

svg text {
  font-size: 14pt;
}

circle.city {
  fill: white;
  stroke: black;
}
